{% extends "bl2_slots/base.html" %}

{% block extra_head %}
<style>
    body {
      font-family: monospace;
    }
    th {
      padding: 0 1em;  
    }
    th, td {
      text-align: right;
    }
    thead {
      text-decoration: underline;  
    }
</style>

<script type="text/javascript">
    slots = [
        { "text": "Eridium x3",
          "css": "eridiumx3" },
        { "text": "Seven",
          "css": "seven" },
        { "text": "Leg",
          "css": "leg" },
        { "text": "Psycho",
          "css": "psycho" },
        { "text": "Vault",
          "css": "vault" },
        { "text": "Bell",
          "css": "bell" },
        { "text": "Marcus",
          "css": "marcus" },
        { "text": "Cherries",
          "css": "cherries" },
        { "text": "Eridium x1",
          "css": "eridiumx1" },
        { "text": "Eridium x2",
          "css": "eridiumx2" }
    ];

    outcomes = {{ outcomes|safe }}

    weights = init_weights();

    function rand_int(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function init_weights() {
        var w = [];
        var total = 0;
        var cumulative_weight = 0;

        for (var i = 0; i < outcomes.length; i++) {
            total += outcomes[i].chance;
        }

        for (var i = 0; i < outcomes.length; i++) {
            var normalized_weight = outcomes[i].chance / total;
            w[i] = cumulative_weight + normalized_weight;
            cumulative_weight += normalized_weight;
        }
        
        return w;
    }

    function get_reward() {
        var r = Math.random();
        var i = 0;
        for (i = 0; i < weights.length && r >= weights[i]; i++) ;
        return outcomes[i];
    }

    function get_outcome() {
        var outcome = [];
        var reward = get_reward();
        var wheel = null;
        var prev_wheel = null;

        outcome[0] = reward.reward;
        outcome[1] = $.map(reward.symbols.split(''), function(char) {
            switch (char) {
                // TODO fails on NN5 when N comes up as a 5
                case 'N':
                    if (prev_wheel) {
                        wheel = prev_wheel;
                    } else {
                        wheel = slots[rand_int(0, 9)];
                        prev_wheel = wheel;
                    }
                    return wheel.css;
                case 'X':
                    do {
                        wheel = slots[rand_int(0, 9)];
                    } while (prev_wheel && (wheel === prev_wheel));
                    prev_wheel = wheel;
                    return wheel.css;
                default:
                    wheel = slots[parseInt(char)];
                    prev_wheel = wheel;
                    return wheel.css;
            }
        });
        outcome[2] = reward.symbols;

        return outcome;
    }

    $(document).ready(function () {
        $("#lever").on("click", function () {
            outcome = get_outcome();

            $("#outcome").empty();
            $("#outcome").append(outcome[0] + " ");
            $("#outcome").append(outcome[1] + " ");
            $("#outcome").append(outcome[2]);
        });
        
        $("#test").on("click", function () {
            var dist = {};
            var test_iterations = 1000000;
            
            var start = (new Date).getTime();
            for (var i = 0; i < test_iterations; i++) {
                symbols = get_outcome()[2];
                dist[symbols] = dist[symbols] + 1 || 1;
            }
            var diff = (new Date).getTime() - start;
            
            $("#data").empty();
            $.each(outcomes, function (id, outcome) {
                var result = (dist[outcome.symbols] / test_iterations) * 100;
                var variance = result - outcome.chance;
                $("#data").append("<tr><th>"+outcome.symbols+"</th><td>"+outcome.chance.toFixed(2)+"</td><td>"+result.toFixed(2)+"</td><td>"+variance.toFixed(4)+"</td></tr>");
            });
            
            $("#time").empty().append("Execution time: " + diff);
        });
    });
</script>
{% endblock extra_head %}

{% block content %}
<h1>Play Moxxi</h1>
<button id="lever">Pull!</button>
<div id="outcome"></div>
<button id="test">Distribution</button>
<div><table>
    <thead>
        <th>Symbols</th>
        <th>Chance</th>
        <th>Result</th>
        <th>Variance</th>
    </thead>
    <tbody id="data"></tbody>
</table></div>
<div id="time"></div>
{% endblock content %}
