{% extends "bl2_slots/base.html" %}

{% block extra_head %}
<script type="text/javascript">
    function apply_form_field_error(fieldname, error) {
        var input = $("#id_" + fieldname),
            container = $("#div_id_" + fieldname),
            error_msg = $("<span />").addClass("help-inline ajax-error").text(error[0]);

        container.addClass("error");
        error_msg.insertAfter(input);
    }

    function clear_form_field_errors(form) {
        $(".ajax-error", $(form)).remove();
        $(".error", $(form)).removeClass("error");
    }

    $(document).on("submit", "#results_form", function(e) {
        e.preventDefault();
        clear_form_field_errors("#results_form");
        var self = $(this),
            url = self.attr("action"),
            ajax_req = $.ajax({
                url: url,
                type: "POST",
                data: {
                    sa: $("input:radio[name='sa']:checked").val(),
                    sb: $("input:radio[name='sb']:checked").val(),
                    sc: $("input:radio[name='sc']:checked").val(),
                },
                success: function(data, textStatus, jqXHR) {
                    // TODO clear radio button state
                    alert("Slots saved successfully", "success");
                },
                error: function(data, textStatus, jqXHR) {
                    var errors = $.parseJSON(data.responseText);
                    $.each(errors, function(index, value) {
                        if (index === "__all__") {
                            alert(value[0]);
                            //django_message(value[0], "error");
                        } else {
                            alert(index + ": " + value);
                            //apply_form_field_error(index, value);
                        }
                    });
                }
            });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% endblock extra_head %}

{% block content %}
<h1>Torgue</h1>
<form name="results_form" id="results_form" method="POST" action="{% url 'record_torgue' %}">
    {% csrf_token %}
    <table id="results">
    <tbody>
        {{ form.as_table }}
    </tbody>
    </table>
    <input type="submit" value="Record">
</form>
{% endblock content %}
